<div *ngIf="resourcePoint !== undefined && resourcePoint !== null">
    <h6 style="margin-bottom: 3px;"><b>{{resourcePoint.title}}</b></h6>
    <button class="btn btn-outline-danger btn-sm" (click)="removeResourcePoint(resourcePoint)">Remove resources point</button> <br>
    <div
        *ngIf="resourcePoint.resources !== undefined && resourcePoint.resources !== null && resourcePoint.resources.length != 0">
        <b>Resources</b> <br>
        <ul>
            <li *ngFor="let resource of resourcePoint.resources">
                <button class="btn btn-outline-danger btn-sm" (click)="removeResource(resource)"
                        *ngIf="this.globalVariablesService.userIsModerator">X
                </button>
                <b>{{resource.resourceType.name}}</b>
                <br>
                {{resource.resourceType.description}} <br>
                quantity: <u>{{resource.quantity}}
                    {{resource.resourceType.unit}}</u> <br>
            </li>
        </ul>
    </div>
    <b>Location</b> <br>
    Lat: {{resourcePoint.location.latitude}} <br>
    Long: {{resourcePoint.location.longitude}} <br>
</div>
