<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-brand h2">Przetrwaj.pl</div>
        <!-- there should be ngIf in moderator div -->
        <div class="rounded" style="background-color: white;">MODERATOR</div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a href="#" style="cursor: pointer;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
