<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container-fluid">
        <div class="navbar-brand h2 justify-content-left">Przetrwaj.pl</div>
        <!-- add username and if to show this only after succesfully login -->
        <div
            *ngIf="this.globalVariablesService.userIsModerator"
            class="navbar-collapse collapse flex-grow-0 justify-content-center headerTextBox"
            style="color: black; margin-left: 10px;"><b>MODERATOR</b>
        </div>
        <!-- there should be ngIf in moderator div -->
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: white;"
                href="#"
                role="button"
                data-bs-toggle="dropdown">
                MENU
            </a>
            <ul
                class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end">
                <!-- there should be ifs to show items only wheen user is in other view -->
                <li><a class="dropdown-item" href="main-view">MainView
                        (map)</a></li>
                <li *ngIf="this.globalVariablesService.userIsModerator"><a
                        class="dropdown-item"
                        href="users-management-panel">Users
                        management
                        panel</a></li>
                <li><a class="dropdown-item" href="account-settings">Change
                        account
                        data</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
