<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container-fluid">
        <div class="navbar-brand h2 justify-content-left">Przetrwaj.pl</div>
        <!-- add username and if to show this only after succesfully login -->
        <div
            class="navbar-collapse collapse flex-grow-0 justify-content-center"
            style="color: white;"><b>Welcome
                username</b></div>
        <!-- there should be ngIf in moderator div -->
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle headerTextBox" href="#"
                role="button"
                data-bs-toggle="dropdown">
                MODERATOR MENU<!-- for normal user this can be menu or sth -->
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="#">Users management
                        panel</a></li>
                <li><a class="dropdown-item" href="#">Change account
                        data</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
