<form class="resourcePointAddForm" >
    <h5>Add Resources Point</h5>
    <b>Resource point name</b>
    <br>
    <br>
    <input type="text"
        [(ngModel)]="resourcePointTitle"
        name="resourcePointTitle"
        placeholder="Resource Point Name" />
    <br>
    <br>
    <b>Location</b>
    <br>
    Lat: {{ latMarker }}
    <br>
    Long: {{ lngMarker }}
    <br>
    <br>
    <button class="btn btn-secondary" (click)="addResourcePoint()">Add Resource point</button>
    <br>
    <br>
    <h6>Add Resources</h6>

    <!-- resources should have continuous numbers and after clicking add another resource new resource should be added below -->
    <b>Resources Point</b>
    <br>
    <select [(ngModel)]="resourcesPointIndex" name="resourcesPointIndex">
        <option *ngFor="let rp of resourcePointTitles; index as i" [value]="i">{{ rp }}</option>
    </select>
    <br>
    <br>
    <h6>Add Resources</h6>
    <div *ngFor="let resource of resources; index as i">
        <b>Resource {{ i + 1 }}</b>
        <br>
        <b>Resource type</b>
        <br>
        <select [(ngModel)]="resource.resourceType.name" name="resourceType{{i}}">
            <option value="WATER">Water</option>
            <!-- add more options as needed -->
        </select>
        <br>
        <b>Quantity</b>
        <br>
        <input [(ngModel)]="resource.quantity" name="resourceQuantity{{i}}" type="number">
        <br>
        <br>
    </div>
    <button class="btn btn-secondary btn-sm" (click)="addResourceToPoint()">Add another resource</button>
    <br>
    <br>
    <button class="btn btn-secondary btn-sm" (click)="addResourcesToPoint()">Add all resources</button>
    <hr>
</form>
