<form class="incidentAddForm">
    <h5>Add Incident</h5>
    <b>Incident name and description</b>
    <br>
    <input type="text" placeholder="Incident Name" />
    <br>
    <input type="text" placeholder="Incident Description" />
    <br>
    <b>Incident type</b>
    <br>
    <select>
        <option value="1">Fire</option>
    </select>
    <br>
    <b>Location</b>
    <br> <!-- latitude and lotitude will be from map event -->
    Lat: {{ latMarker }}
    <br>
    Long: {{ lngMarker }}
    <br>
    <br>
    <button type="submit" class="btn btn-secondary">Add Incident</button>
    <br>
    <br>
    <hr>
</form>
