<form class="incidentAddForm" (submit)="addIncident()">
    <h5>Add Incident</h5>
    <b>Incident name and description</b>
    <br>
    <input type="text"
        [(ngModel)]="incidentTitle"
        name="incidentTitle"
        placeholder="Incident Name" />
    <br>
    <input type="text" 
        [(ngModel)]="incidentDescription"
        name="incidentDescription"
        placeholder="Incident Description" />
    <br>
    <br>
    <b>Incident type</b>
    <br>
    <select [(ngModel)]="incidentTypeName"
            name="incidentTypeName">
        <option value="FIRE">Fire</option>
    </select>
    <br>
    <b>Location</b>
    <br>
    Lat: {{ latMarker }}
    <br>
    Long: {{ lngMarker }}
    <br>
    <br>
    <button type="submit" class="btn btn-secondary btn-sm">Add Incident</button>
    <br>
    <hr>
</form>
