<form class="incidentAddForm" (submit)="addIncident()">
    <h5>Add Incident</h5>
    <b>Incident name and description</b>
    <br>
    <input type="text"
        [(ngModel)]="incidentTitle"
        name="incidentTitle"
        placeholder="Incident Name" />
    <br>
    <input type="text"
        [(ngModel)]="incidentDescription"
        name="incidentDescription"
        placeholder="Incident Description" />
    <br>
    <span class="br"></span>
    <b>Incident type</b>
    <br>
    <select [(ngModel)]="incidentTypeIndex" name="incidentTypeIndex">
        <option *ngFor="let it of incidentTypeNames; index as i"
            [value]="i">{{ it }}</option>
    </select>
    <br>
    <b>Location</b>
    <br>
    Lat: {{ latMarker }}
    <br>
    Long: {{ lngMarker }}
    <br>
    <span class="br"></span>
    <button type="submit" class="btn btn-secondary btn-sm">Add Incident</button>
    <br>
    <hr>
</form>
