.btnConfirm {
    color: #fff;
    background-color: green;
    padding: 2px 15px;
    border: solid darkgreen 3px;
    box-shadow: none;
    border-radius: 9px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btnReject {
    color: #fff;
    background-color: red;
    padding: 2px 15px;
    border: solid darkred 3px;
    box-shadow: none;
    border-radius: 9px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btnConfirm:hover, .btnReject:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.btnConfirm:active, .btnReject:active {
    transform: scale(0.95);
}