.btnConfirm {
    color: #fff;
    background-color: green;
    padding: 1px 4px;
    width: 6em;
    border: solid darkgreen 2px;
    box-shadow: none;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.btnReject {
    color: #fff;
    background-color: red;
    padding: 1px 4px;
    width: 6em;
    border: solid darkred 2px;
    box-shadow: none;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

.btnConfirm:hover,
.btnReject:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btnConfirm:active,
.btnReject:active {
    transform: scale(0.95);
}

.incidents-div {
    font-size: small;
    line-height: 115%;
}