<div *ngIf="incident !== undefined && incident !== null" class="incidents-div">
    <h6><b>{{incident.title}}</b></h6>
    <b>Description</b> <br> {{incident.description}} <br>
    <b>Incident type</b> <br>
    {{incident.incidentType.name}} <br>
    {{incident.incidentType.description}} <br>
    <b>Address</b> <br> {{incident.address}} <br>
    <b>Location</b> <br>
    Lat: {{incident.location.latitude}} <br>
    Long: {{incident.location.longitude}} <br>
    <b>Danger level:</b> {{incident.dangerLevel}} <br> <br>
    <b>Created at</b> {{incident.creationDate | date: 'medium'}} <br>
    <b>Expires at</b> {{incident.expirationDate| date: 'medium'}} <br> <br>
    <div
        *ngIf="incident.incidentType.recommendedResources !== undefined 
        && incident.incidentType.recommendedResources !== null 
        && incident.incidentType.recommendedResources.length!=0">
        <b>recommended resources:</b>
        <ul>
            <li
                *ngFor="let resource of incident.incidentType.recommendedResources">
                {{resource.name}} <br>
            </li>
        </ul>
    </div>
    <div *ngElse>
        <p>no recommended resources</p>
    </div>
    <button class="btn btn-success btn-sm">Confirm</button>
    <button class="btn btn-danger btn-sm" style="margin-left: 1em">Reject</button>
</div>
