<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto gx-2">
            <app-incident-add-form></app-incident-add-form> <!-- there should be ngIf and show component only when needed -->
            <app-incidents-list></app-incidents-list>
        </div>
        <div class="col-sm-auto gx-2">
            <app-map></app-map>
        </div>
        <div class="col-sm-auto gx-2">
            <app-resource-add-form></app-resource-add-form> <!-- there should be ngIf and show component only when needed and only for moderator -->
            <app-resources-list></app-resources-list>
        </div>